div#tabelaTreinoContainer table td.middle{
    vertical-align: middle;
    width: 20rem;
}

th.removerTreino{
    text-align: right;
    padding-right: 1.2em;
    cursor: pointer;
}

#selectExercicio2, #selectExercicio3{
    display: none;
}